<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
</head>
<body>
<h1>Tic Tac Toe</h1>

{% if error %}
    <div style="color: red">Invalid Action, try again</div>
{% endif %}

{% if showNewGame %}
    Who has the first move?<br/>
    <a href="/new/player">Player</a> | <a href="/new/computer">Computer</a>
{% else %}
    {{ include('board.html.twig') }}
{% endif %}
</body>
</html>